*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  max-width: 640px;
}

#app {
  padding: 1rem;
  background-color: #cfcfcf;
  color: blueviolet;
  font-family: monospace;
  font-size: 32px;
  min-height: 600px;
}

#app p {
  margin-top: 1rem;
  min-width: 100%;
  line-height: 2;
}

#answerDisplay {
  letter-spacing: 1rem;
}
